header {
    background-color: #24292E;
    height: 7.2rem;
    color: #fff;
    display: none;
    justify-content: start;


    .container {
        display: flex;
        align-items: center;
        gap: 2.2rem;
    }

    .breadcrumb {
        display: flex;
        gap: 2.2rem;
    }

    @media (min-width: 744px) {
        display: flex;
    }
}


main {
    @media (min-width: 744px) {
        display: grid;
        grid-template-columns: 21.7rem 1fr;
        gap: 4.0rem;
    }
}

.user {
    margin-top: 4.0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
    &__info {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

  
        h2 {
            font-weight: bold;
            font-size: 2.0rem;
            margin-bottom: 0.4rem;
        }
  
        p {
            font-size: 1.4rem;
            color: var(--gray-100);
            max-width: 21.7rem;
            margin-bottom: 2.4rem;
        }
  
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            color: var(--blue-100);
            font-size: 1.4rem;
            text-decoration: none;
            gap: 1.1rem;
        }
  
        &__secondary {
            margin-top: 2.4rem;
            text-align: left;
            background-color: #F8F8F8;
            padding: 1.6rem;
            border-radius: 1.6rem;
            width: 100%;
  
            display: none;
  
            &.active {
                display: block;
            }
  
            p {
                margin-bottom: 1.6rem;
                color: #0587FF;
                font-size: 1.4rem;
  
                display: flex;
                align-items: center;
                gap: 1.0rem;
            }
        }

          
        @media (min-width: 744px) {
            display: block;

            &__secondary {
                background-color: transparent;
                display: block;
            }

            a {
      
                display: none;
            }
        }
    }
  }

  .filter {
    display: flex;
    flex-direction: column;
    &__search {
        max-width: 44.4rem;
        width: 100%;
        order: 2;

        input {
            width: 100%;
            border: none;
            background-color: #F8F8F8;
            padding: 1rem;
            font-size: 1.4rem
        }
    }
    &__buttons {
        order: 1;
        display: flex;
        gap: 0.8rem;
        margin-top: 3.0rem;
        margin-bottom: 2.8rem;
    }
    
    &__wrapper {
        background-color: #fff;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
        height: 100vh;
        max-width: 428px;
        width: 100%;
        position: absolute;
        top: 0;
        opacity: 0;
        left: -500px;
    
        padding-left: 2.4rem;
        padding-right: 2.4rem;

        transition: all 0.3s ease-in-out;
            &.active {
                opacity: 1;
                left: 0;
            }
        }
    
    &__header {
        display: flex;
        justify-content: space-between;
        margin-top: 6.0rem;
        margin-bottom: 4.0rem;
    
        h2 {
            font-size: 2.4rem;
            font-weight: bold;   
        }
    
        button {
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
    }
    
    &__body {
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
    }

    @media(min-width:1244px) {
        flex-direction: row;
        margin-top: 2.4rem;
        align-items: center;
        gap: 10.4rem;

        &__search {
            order: 1;
        }
        &__buttons {
            order: 2;
        }
    }
}