header {
    background-color: #24292E;
    height: 7.2rem;
    color: #fff;
    display: none;
    justify-content: start;


    .container {
        display: flex;
        align-items: center;
        gap: 2.2rem;
    }

    .breadcrumb {
        display: flex;
        gap: 2.2rem;
    }

    @media (min-width: 744px) {
        display: flex;
    }
}


main {
    @media (min-width: 744px) {
        display: grid;
        grid-template-columns: 21.7rem 1fr;
        gap: 4.0rem;
    }
}

.user {
    margin-top: 4.0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
    &__info {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

  
        h2 {
            font-weight: bold;
            font-size: 2.0rem;
            margin-bottom: 0.4rem;
        }
  
        p {
            font-size: 1.4rem;
            color: var(--gray-100);
            max-width: 21.7rem;
            margin-bottom: 2.4rem;
        }
  
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            color: var(--blue-100);
            font-size: 1.4rem;
            text-decoration: none;
            gap: 1.1rem;
        }
  
        &__secondary {
            margin-top: 2.4rem;
            text-align: left;
            background-color: #F8F8F8;
            padding: 1.6rem;
            border-radius: 1.6rem;
            width: 100%;
  
            display: none;
  
            &.active {
                display: block;
            }
  
            p {
                margin-bottom: 1.6rem;
                color: #0587FF;
                font-size: 1.4rem;
  
                display: flex;
                align-items: center;
                gap: 1.0rem;
            }
        }

          
        @media (min-width: 744px) {
            display: block;

            &__secondary {
                background-color: transparent;
                display: block;
            }

            a {
      
                display: none;
            }
        }
    }
  }

  .filter {
    display: flex;
    flex-direction: column;

    &__search {
        max-width: 44.4rem;
        width: 100%;
        order: 2;
        display: none;

        input {
            width: 100%;
            border: none;
            background-color: transparent;
            border-bottom: 2px solid #F4F4F4;
            padding: 1rem;
            font-size: 1.4rem;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z' stroke='%23989898' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21 21L16.65 16.65' stroke='%23989898' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: 0% 50%;
            padding-left: 4rem;
            
            &::placeholder {
                color: #989898;
                font-size: 1.8rem; 
            }
        }

        &.active {
            display: block;
        
        }
    }
    &__buttons {
        background-color: #F8F8F8;
        padding: 1.2rem 0.8rem;
        order: 1;
        display: flex;
        gap: 0.8rem;
        margin-top: 3.0rem;
        margin-bottom: 2.8rem;
        position: relative;

        &_btn_search {
            position: absolute;
            top: 30%;
            right:15px;
            border: none;
            background-color: transparent;
            display: block;
        }
    }
    
    &__wrapper {
        background-color: #fff;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
        height: 100vh;
        max-width: 428px;
        width: 100%;
        position: absolute;
        top: 0;
        opacity: 0;
        left: -500px;
    
        padding-left: 2.4rem;
        padding-right: 2.4rem;

        transition: all 0.3s ease-in-out;
            &.active {
                opacity: 1;
                left: 0;
            }
        }
    
    &__header {
        display: flex;
        justify-content: space-between;
        margin-top: 6.0rem;
        margin-bottom: 4.0rem;
    
        h2 {
            font-size: 2.4rem;
            font-weight: bold;   
        }
    
        button {
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
    }
    
    &__body {
        display: flex;
        flex-direction: column;
        gap: 1.4rem;

        label {
            font-size: 1.6rem;
            color: #000000;

        }
    }
    @media(min-width: 744px) {
        &__search {
            display: block;
        }

        &__buttons {
            background-color: transparent;
            padding: 0;
            &_btn_search {
                display: none;
            }
        }
    }

    @media(min-width:1244px) {
        flex-direction: row;
        margin-top: 2.4rem;
        align-items: center;
        gap: 10.4rem;

        &__search {
            order: 1;
        }
        &__buttons {
            order: 2;
        }

    }
}


.checkbox__wrapper {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.repositories {
    margin-bottom: 4rem;
  &__item {
   
      text-decoration: none;
      margin-top: 3.2rem;
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      h3 {
          font-size: 1.8rem;
          max-width: 100%;
          font-weight: 300;
          cursor: pointer;

          span {
              font-weight: bold;
              color: #0587FF;
          }


          &:hover {
              text-decoration: underline;
          }
      }
      
      p {
        font-size: 1.4rem;
        color: #989898;
      }

  }

  &__info {
      display: flex;
      gap: 3.2rem;
  }

  &__fork,
  &__stars {
      display: flex;
      gap: 2px;
     
    
      p {
        font-size: 1.4rem;
        color:#000000;
      }

      img {
        width: 2.0rem;
        height: 2.0rem;
      }
  }

  @media(min-width: 400px) {
    &__item {
  
        h3 {
            max-width: 30.0rem;
  
        }
    }
  }
}

.repositories {
    flex-direction: column;
}
.starred {
  margin-top: 4.0rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.starredCard {
  display: flex;
  gap: 1rem;
  padding: 1.6rem;

  background-color: #F8F8F8;
  border-radius: 1.6rem;

  p {
      font-size: 1.4rem;
      color: #000;
      display: flex;
      align-items: center;
      gap: 1.0rem;
  }
}