* {
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
}

body, h1, h2, h3, h4, button, input, textarea, select{
    font-family: 'Roboto', sans-serif;
}

:root {

    --gray-50: #f4f4f4;
    --gray-100: #f8f8f8;
    --gray-150: #DBDBDB;
    --gray-200: #989898;
    --gray-700: #24292E;

    --blue-50: #0056A6;
    --blue-100: #0587FF;

    --white: #fff;
    --black: #000000;

    --border-color-primary: #FD8C73;

    font-size: 62.52%;
}


.container {
    width: 100%;
    max-width: 360px; 
    margin: 0 auto; 
    padding: 0 1rem; 

    @media (min-width: 744px) {
        max-width: 1259px;
    }
}


h1,
h2,
h3,
h4 {
    font-weight: 400;
}

body {
    font-size: 1.6rem;
}
