.tabs {
    margin-top: 4.0rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2.0rem;


    &__item {
        gap: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.6rem;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        padding-bottom: 0.8rem;
        
        &.active {

            border-bottom: 2px solid var(--border-color-primary);
            padding-bottom: 0.8rem;
            color: var(--black);
            font-size: 1.8rem;

        }

        svg {
            width: 2.4rem;
            height: 2.4rem;
            color: var(--gray-200);
        }

        span {
            border: 1px solid var(--gray-150);
            background-color: var(--gray-100);
            border-radius: 5.9rem;
            display: flex;
            height: 2.4rem;
            justify-content: center;
            align-items: center;
            width: 5.0rem;
            font-size: 1.4rem;
            padding: 0 0.8rem;
        }
    }

    @media (min-width:380px) {
        gap: 2.0rem;
        flex-direction: row;
        &__item {
            font-size: 1.8rem;
        }
    }



}